/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-left: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

.sidenav {
    height: 100%;
    width: 25%;
    max-width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: limegreen;
    overflow-x: hidden;
    padding-top: 10px;
}



    .sidenav a {
        padding: 8px 8px 8px 25px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

        .sidenav a:hover {
            background-color: rgb(76, 175, 80);
        }

        .sidenav a img {
            
            width: 100px;
            height: auto;
        }

.user-info-form label {
    width: 80px;
}
.user-info-form input[type="text"] {
    width: 232px;
}