
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to TE Bank</h2>

<p>This website is just a simple personal project to work on MVC structure. </p>

<p>If you don't yet have an account, <a asp-controller="account" asp-action="newUser">Sign Up</a></p>
<p>Or go ahead and <a asp-controller="account" asp-action="login">Log In</a></p>